<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cocktail creation</title>
    </head>
    <body>
        <h1>Create your cocktail</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
        <p>Use the ctrl key to select multiples ingredients</p>
    </body>
    <footer style="margin-top:10px">
        <a href ={% url 'index' %}>Back to homepage</a>
    </footer>
</html>